<main>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 class="about-header">About Me</h1>
    <div class="container">
      <div class="text-about">
        <h2 style="color: white;">I AM STILL MOVING</h2>
        <p style="color: white;">For the past month, everyday I worked on learning a new programming language called Ruby and a web application framework called Rails. Utilizing content from CodeAcademy, Ruby books, and my previous Object-Oriented Programming knowledge from Eastern Washington University, I've self-taught myself the fundamentals of Ruby On Rails (ROR). </p>
        <p style="color: white;"> I'm not stopping there. No, my desire is to become one of the best programmers in the Pacific Northwest! I wish to grow to my full potential. I've might fallen along the journey, but I'm still moving.</p>
        <a href="/welcome" class="button">Learn More</a>  /* for now, will go to a new sub_about page */
      </div>
      <div class="image2">
        <%= image_tag "portfolio-main.jpg" %>
      </div>
    </div>

</main>