<main>
    <h1 class="about-header">About Me</h1>
    <div class="container">
      <div class="text-about">
        <h2 style="color: white;">Programmer</h2>
        <p style="color: white; text-indent: 2em;">My first programming language was Java. I've worked with the language on numerous projects in college spanning five years. I recently started to pick up Ruby and prefer it over Java. Why? Imagine you are dancing with a partner that is stiff and requires more energy to direct. That's java. When it comes to Ruby it feels more natural and easy going. I am just happy I don't have to make a public get method every time I have to get to a private class variable. I just need to type is attr_reader and the variable. </p>
        <p style="color: white; font-style: oblique">Why do I program?</p>
        <p style="color: white; text-indent: 2em;">I program for many reasons. First, the world is becoming more digital and I wanted to be a part of the group of people that pushes society to new horizon utilizing man's most powerful tool to do so. Secondly, the addictive feeling of accomplishment when I fixed a problem after hours of trial and error. Thirdly, to be creative. To build new or improve applications in which I can easily share to others.</p>
      </div>
      <div class="image2">
        <p style="color: white; font-style: italic; font-size: 4mm">My workspace at home.</p>
        <%= image_tag "workspace.jpg" %>
      </div>
    </div>

  <div class="container">
    <div class="image3">
      <p style="color: white; font-style: italic; font-size: 4mm">Red potatoes getting hosed down.</p>
      <%= image_tag "potatoes.jpg" %>
    </div>

    <div class="text-about">
      <h2 style="color: white;">Gardener</h2>
      <p style="color: white; text-indent: 2em;">I enjoy seeing change. As a gardener, growth is the main driver. Just likes plants that have their fundamental requirements to grow (Nitrogen,Phosphorus, and Potassium), I take inspiration to grow as a programmer by nourishing my skills with the four pillars of object-oriented programming. </p>
      <p style="color: white;">Abstraction, to hide away implied details inside something. Users don't need to know every single step to achieve a result.</p>
      <p style="color: white;">Encapsulation, to remove access making things private. A program only needs to know what it requires to know to function, not everything.</p>
      <p style="color: white;">Inheritance, to allow an object to acquire properties and methods of another object.</p>
      <p style="color: white;">Polymorphism, to enable objects to take on multiple forms.</p>
      <p style="color: white; text-indent: 2em;">Understanding these concepts are my building blocks to grow more robust and maintainable code.</p>
    </div>


  </div>
  <div class="container">
    <div class="text-about">
      <h2 style="color: white;">Cook</h2>
      <p style="color: white;">Let me cook!</p>
      <p style="color: white; text-indent: 2em;">The love of cooking is within the details. By putting the time to think through all the details within a recipe such as taste, texture, presentation, and timing to name a few, I produce a product that my family enjoys eating. This principle (love of cooking) is what I apply to my programming as well.</p>
    </div>

    <div class="image4">
      <p style="color: white; font-style: italic; font-size: 4mm">Encapsulating my meat in a smoker.</p>
      <%= image_tag "cooking.jpg" %>
    </div>

  </div>
  <div class="container">
    <div class="image5">
      <%= image_tag "family-meme.png" %>
    </div>

    <div class="text-about">
      <div class="inline-heading">
        <h2>Family</h2>
        <h6>(Son, Brother, and Father)</h6>
      </div>
      <p style="color: white; text-indent: 2em;">I regard family as the upmost crucial part of my life. I am nothing without my family. The family you are born into or the family you make along the way, nothing is more important than family. Whatever I do, I put my heart and soul for my family.</p>

    </div>

  </div>

</main>