

<main>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div class="container">
    <div class="text">
      <h2 style="color: white;">I AM STILL MOVING</h2>
      <p style="color: white;">For the past month, everyday I worked on learning a new programming language called Ruby and a web application framework called Rails. Utilizing content from CodeAcademy, Ruby books, and my previous Object-Oriented Programming knowledge from Eastern Washington University, I've self-taught myself the fundamentals of Ruby On Rails (ROR). </p>
      <p style="color: white;"> I'm not stopping there. No, my desire is to become one of the best programmers in the Pacific Northwest! I wish to grow to my full potential. I've might fallen along the journey, but I'm still moving.</p>
    </div>
    <div class="image">
      <%= image_tag "portfolio-main.jpg" %>
    </div>
  </div>
  <a href="/portfolio" class="button">View My Work</a>

</main>




