<main>
  <div class="container">
    <div class="text">
      <h2 >I AM STILL MOVING</h2>
      <p >I worked on learning a new programming language called Ruby and a web application framework called Rails. Utilizing content from CodeAcademy, Ruby books, and my previous Object-Oriented Programming knowledge from Eastern Washington University, I've self-taught myself the fundamentals of Ruby On Rails (ROR). </p>
      <p > Will not be stopping there, my desire is to grow to my full potential and incorporate software development into my daily life. I've might have fallen along the journey, but I'm still moving.</p>
    </div>
    <div class="image">
      <%= image_tag "portfolio-main.jpg" %>
    </div>
  </div>
  <a href="/portfolio" class="button">View My Work</a>

</main>