

<main>
  <h2>Welcome to my Portfolio</h2>


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image and Text Layout</title>
  </head>
  <body>

  <div class="container">
    <div class="text">
      <h2>I am "       "</h2>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </div>
    <div class="image">
      <%= image_tag "portfolio-main.jpg" %>
    </div>
  </div>

  </body>

  <a href="/portfolio" class="button">View My Work</a>



</main>




