

<main>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div class="container">
    <div class="text">
      <h2 style="color: white;">I am "       "</h2>
      <p style="color: white;">Paragraph 1</p>
      <p style="color: white;">Paragraph 1</p>
    </div>
    <div class="image">
      <%= image_tag "portfolio-main.jpg" %>
    </div>
  </div>
  <a href="/portfolio" class="button">View My Work</a>

</main>




