<%= form_with model: @contact_form, local: true do |form| %>
  <div class="container">
    <div class="text">
      <p>
        <%= form.label :message, "Edit Your Message" %><br>
        <%= form.text_area :message, placeholder: "Enter your updated message" %>
      </p>
      <p>
        <%= form.submit "Update Message", class: "button" %>
      </p>
    </div>
  </div>
<% end %>



