.body{
    background-image: url("bit_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;

}

header {
  background-color: #183a76;
  padding: 20px;
  text-align: center;
  animation-name: drop-header-down;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 15px;

  }
}

@keyframes drop-header-down {
  from {transform: translateY(-100%)}
  to {transform: translateY(0)}
}

@keyframes drop-footer-up {
  from {transform: translateY(100%)}
  to {transform: translateY(0)}
}

@keyframes slide-image-left {
  from {transform: translateX(100%)}
  to {transform: translateX(0)}
}
@keyframes slide-image-right {
  from {transform: translateX(-100%)}
  to {transform: translateX(0)}
}

.header-link{
  color: #FFFFFF;
}

.header-link:hover{
  color: #000000;
}

main {

  background-size: cover;
  text-align: center;
  padding: 100px 0;

}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #122b58;
  color: white;
  text-decoration: none; /* Remove underline */
  border: inset;
  border-radius: 10px;
  border-color: #183a76;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #FFFFFF;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  position : fixed;
  bottom: 0;
  width: 100%;
  animation-name: drop-footer-up;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  a {
    color: #fff;
    margin: 0 10px;
  }

  p{
    color: #fff;
    padding-top: 20px;
    font-size: 12px;
  }
}

.footer-logos{
    width: 15px;
    height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: black;
}

.image{
  flex: 1;
  max-width: 40%;
}
 .image2, .image4 {
  flex: 1;
  max-width: 40%;
  animation-name: slide-image-left;
   animation-duration: 2s;
   animation-fill-mode: forwards;
}

.image3, .image5 {
  flex: 1;
  max-width: 40%;
  animation-name: slide-image-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.image img, .image2 img, .image3 img, .image4 img, .image5 img{
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.image2.animate, .image4.animate{
  animation-name: slide-image-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.image3.animate, .image5.animate{
  animation-name: slide-image-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.text {
  flex: 1;
  padding: 20px;
  max-width: 60%;

}

.text-about {
  flex: 1;
  padding: 20px;
  max-width: 60%;
  text-align: left;

}

.about-header{
  background-color: black;
  color: #FFFFFF;
  margin-bottom: -5px;
}

/*use to stack items vertically for mobile apps */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .image, .text {
    max-width: 100%;
  }
}
